/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

----------->MIXINS<----------

/////////////////////////////
*/


@mixin gallery-mq ($num1, $num2){
    .gallery {
    max-width: 90%;
    margin: auto;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat($num1, $num2);
    }
}